.middle {
    display: flex;
    flex-direction: column;
    height: 170vh;
}
.yelp-images {
    width: 100%;
}

.business-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
    padding: 10px;
    margin-left: 80px;
}


.left-side {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-left: 0px;
}

.business-name {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: #333333;
}

.review-stars {
    margin-top: 10px;
    height: 30px;
    width: 140px;
}

.price-range {
    margin-top: 10px;
}

.right-side {
    width: 15%;
    height: 16vh;
    border: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    margin-left: 50px;
}

.business-number {
    margin-top: 10px;
    margin-left: 15px;
    color: #333333;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
}

.fa-phone-alt {
    margin-top: 10px;
    color: #666666;
}

.fa-directions {
    font-size: 23px;
    margin-top: 15px;
    color: #666666;
    margin-left: 12px;
    padding-right: 5px;
}

.price-range {
    color: #333333;
}

.business-direction {
    font-family: sans-serif;
    color: #0073BB;
}

.write-add {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D6D6D6;
}

.write-review {
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    padding: 5px;
    color: #D32322;
    font-size: 14px;
    font-weight: bold;
}

.add-photo {
    border: 1px solid #D6D6D6;
    padding: 5px;
    border-radius: 4px;
    color: #333333;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

.fa-star {
    padding-right: 5px;
}

.fa-camera {
    padding-right: 5px;
}

.location-hours {
    display: flex;
    margin-top: 20px;
    height: 60vh;
    border-bottom: 1px solid #D6D6D6;
}

.header {
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

.left-map {
    width: 30vw;
    height: 36vh;
}

.map-info {
    border: 1px solid #D6D6D6;
    border-radius: 5px;
}

.address {
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
}

.city {
    padding: 10px;
    font-weight: bold;
}

.right-hours {
    width: 45%;
    color: #333333;
    margin-left: 35px;
    margin-top: 40px;
}

.day {
    font-weight: bold;
    margin-right: 12px;
}

.time {
    margin-bottom: 10px;
}

.amentities {
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin-top: 15px;
    border-bottom: 1px solid #D6D6D6;
}

.amen-header {
    font-weight: bold;
}

.amentities-top {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.amentities-bottom {
    display: flex;
    margin-top:20px;
    justify-content: space-between;
}


.fa-truck {
    margin-right: 25px;
}



