.splash-image {
    width: 1440px;
    height: 650px;
}

.top {
    background-image: url("/static/images/pancake.jpg");
    height: 600px;
    width: 100%;
    background-size: cover;
    box-shadow: inset 0 0 0 500px rgba(92, 91, 91, 0.432);
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-left {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 60px;
    margin-right: 26%;
}

.nav-left span {
    padding-right: 30px;
}

.nav-right {
    margin-top: 50px;
}

.nav-right span {
    padding-right: 20px;
}

.nav-right-login {
    margin-top: 50px;
}


.fa-user-alt {
    font-size: 30px;
    color: white;
    background: rgb(180, 180, 180);
    padding: 5px;
    border-radius: 5px 0 0 5px;
    margin-right: 4px;
}

.fa-caret-down {
    font-size: 13px;
    color: white;
    position: relative;
    bottom: 5px;
}

.profile-container {
    height: 40px;
    width: 59px;
    background: rgba(37, 37, 37, 0.358);
    border-radius: 5px;
    cursor: pointer;
}

#drop {
    font-size: 30px;
    color: white;
    background: rgb(180, 180, 180);
    padding: 5px;
    border-radius: 3px;
    margin-right: 4px;
}

.cred-drop {
    display: flex;
    border-bottom: 1px solid rgb(180, 177, 177);
    margin: 15px;
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
}

.username-drop {
    margin-top: 13px;
}

.fa-caret-up {
    color: white;
    margin-left: 30px;
    font-size: 30px;
}

.profile-dropdown {
    background: white;
    height: 100px;
    width: 150px;
    position: relative;
    bottom: 21px;
    right: 91px;
}

.caret-container {
    display: block;
}

.caret-container-none {
    display: none;
}

/* .username-drop {
} */

.logout-drop {
    margin-top: 13px;
    color: #0073BB;
    font-size: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.login {
    color: white;
    text-decoration: none;
}

.signup {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}

.signup:hover {
    color: black;
    text-decoration: none;
    background: white;
}

.logo {
    display: flex;
    justify-content: center;
}

.icon-image {
    height: 200px;
    width: 300px;
}

.top-category {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.top-category > span {
    padding-left: 60px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.top-category span:hover {
    text-decoration: underline;
}

.middle {
    height: 900px;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    width: 100%;
}

.category span {
    color: #D32322;
    font-size: 23px;
    font-weight: bold;
    margin-top: 20px;
}


.category-top {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    height: 200px;
}

.category-top img {
    padding-left: 15px;
}

.restaurants {
    height: 140px;
    width: 230px;
    border: 1px solid #F5F5F5;
    cursor: pointer;
}

.shopping {
    height: 140px;
    width: 230px;
    border: 1px solid #F5F5F5;
    cursor: pointer;
}

.nightlife {
   height: 140px;
    width: 230px;
    border: 1px solid #F5F5F5;
    cursor: pointer;
}

.active {
    height: 140px;
    width: 230px;
    border: 1px solid #F5F5F5;
    cursor: pointer;

}

.category-bottom {
    display: flex;
    justify-content: center;
    height: 200px;
}

.category-bottom img {
    padding-left: 15px;
}

.spa {
    height: 140px;
    width: 230px;
    border: 1px solid #F5F5F5;
    cursor: pointer;

}

.auto {
    height: 140px;
    width: 230px;
    border: 1px solid #F5F5F5;
    cursor: pointer;

}

.home {
    height: 140px;
    width: 230px;
    border: 1px solid #F5F5F5;
    cursor: pointer;
}

.more {
    height: 140px;
    width: 230px;
    border: 1px solid #F5F5F5;
    cursor: pointer;
}

.apps {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin-top: 50px;
    width: 100%;
}
.apps span {
   color: #D32322;
   font-size: 23px;
   height: 30px; 
}

.app-images img {
    margin: 15px;
}

.apple {
    height: 250px;
    width: 450px;
    border: 1px solid rgb(226, 224, 224);
    border-radius: 5px;
    cursor: pointer;

}

.android {
    height: 250px;
    width: 450px;
    border: 1px solid rgb(226, 224, 224);
    border-radius: 5px;
    cursor: pointer;

}

.bottom {
    display: flex;
    align-items: flex-end;
}


